/*** HEADER ***/
#header {
    background: white;
    color: #000;
    font-weight: 300;
    .logo {
        max-width: 100%;
    }
    a {
        color: $gray-darker;
        &:hover {
            text-decoration: none;
            color: $brand-primary;
        }
    }
    .menu {
        display: inline-block;
        > ul {
            > li {
                display: inline-block;
            }
        }
    }
    .header-nav {
        border-bottom: $gray-light 2px solid;
        max-height: 50px;
        margin-bottom: 30px;
        #menu-icon {
            vertical-align: middle;
            cursor: pointer;
            margin: 0 1rem;
            .material-icons {
                line-height: 50px;
            }
        }
        .right-nav {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }
        .currency-selector {
            margin-top: 0.9375rem;
            margin-left: 0.9375rem;
            white-space: nowrap;
        }
        .user-info {
            margin-left: 2.5rem;
            margin-top: 0.9375rem;
            text-align: right;
            white-space: nowrap;
            .account {
                margin-left: $small-space;
            }
        }
        .language-selector {
            margin-top: 0.9375rem;
            white-space: nowrap;
        }
        .cart-preview {
            &.active {
                background: $brand-primary;
                a, i {
                    color: white;
                }
            }
            .shopping-cart {
                vertical-align: middle;
                color: $gray;
            }
            .body {
                display: none;
            }
        }
        .blockcart {
            background: $gray-light;
            height: 3rem;
            padding: 0.75rem;
            margin-left: 0.9375rem;
            text-align: center;
            white-space: nowrap;
            a {
                color: $gray;
                &:hover {
                    color: $brand-primary;
                }
            }
            &.active {
                a:hover {
                    color: white;
                }
            }
            .header {
                margin-top: 0.125rem;
            }
        }
        #_desktop_contact_link {
            display: inline-block;
            #contact-link {
                margin-top: 0.9375rem;
            }
        }
        .search-widget {
            margin-top: 0.2rem;
        }
        .material-icons {
            line-height: inherit;
            &.expand-more {
                margin-left: -0.375rem;
            }
        }
    }
    .header-top {
        > .container {
            position: relative;
        }
        padding-bottom: 1.25rem;
        .menu {
            padding-left: 15px;
            margin-bottom: 0.375rem;
        }
        .position-static {
            position: static;
        }
        a[data-depth="0"] {
            color: $gray;
            text-transform: uppercase;
        }
        .search-widget {
            float: right;
        }
    }
    .top-menu-link {
        margin-left: $medium-space;
    }
}

.popover {
    font-family: inherit;
}

/*** WRAPPER ***/
#wrapper {
    background: $gray-light;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.11);
    padding-top: 1.563rem;
    .banner {
        margin-bottom: 1.5rem;
        display: block;
        img {
            box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
        }
    }
    .breadcrumb {
        background: transparent;
        padding: 0;
        &[data-depth="1"] {
            display: none;
        }
        ol {
            padding-left: 0;
            margin-bottom: 0;
        }
        li {
            display: inline;
            &::after {
                content: "/";
                color: $gray;
                margin: 0.3125rem;
            }
            &:last-child {
                content: "/";
                color: $gray;
                margin: 0;
                &::after {
                    content: "";
                }
            }
            a {
                color: $gray-darker;
            }
        }
    }
}

/*** MAIN ***/
#main {
    .page-header {
        margin-bottom: 1.563rem;
    }
    .page-content {
        margin-bottom: 1.563rem;
        h6 {
            margin-bottom: 1.125rem;
        }
        #notifications {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .page-footer {
        margin-bottom: 1.563rem;
    }
}

#notifications {
    ul {
        margin-bottom: 0;
    }
}

/*** FOOTER ***/
#footer {
    padding-top: 2.5rem;
}

/*** Responsive part ***/
@include media-breakpoint-down(lg) {
    #header {
        .header-nav {
            max-height: inherit;
            .search-widget {
                float: none;
                width: 15.63rem;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .container {
        max-width: 100%;
    }
    #header {
        .logo {
            width: auto;
        }
        .header-top {
            .search-widget {
                min-width: inherit;
            }
        }
    }
    #products .product-miniature,
    .featured-products .product-miniature {
        margin: 0 auto;
    }
    .sub-menu {
        left: 0;
        min-width: 100%;
    }
    #blockcart-modal .product-image {
        width: 100%;
        display: block;
        max-width: 15.63rem;
        margin: 0 auto 0.9375rem;
    }
    #blockcart-modal .cart-content {
        padding-left: 0;
    }
    #blockcart-modal .product-name,
    #product-availability {
        margin-top: $small-space;
    }
    #search_filters .facet .facet-label {
        text-align: left;
    }
    .block-category .category-cover {
        position: relative;
        text-align: center;
    }
    .block-category {
        padding-bottom: 0;
    }
}

@include media-breakpoint-down(sm) {
    #wrapper {
        box-shadow: none;
    }
    #checkout-cart-summary {
        float: none;
        width: 100%;
        margin-top: 1rem;
    }
    #header {
        background: $gray-light;
        .header-nav {
            background: white;
            margin-bottom: 0.625rem;
            color: $gray-darker;
            .top-logo {
                padding-top: 11px;
                a {
                    img {
                        max-height: 50px;
                        max-width: 100%;
                    }
                }
            }
            .right-nav {
                flex-direction: column;
            }
            .user-info {
                text-align: left;
                margin-left: 0;
                .logged {
                    color: $brand-primary;
                }
            }
            .blockcart {
                margin-left: 0;
                background: inherit;
                &.active {
                    margin-left: 0.5rem;
                }
                &.inactive {
                    .cart-products-count {
                        display: none;
                    }
                }
            }
        }
        .header-top {
            background: $gray-light;
            padding-bottom: 0;
            a[data-depth="0"] {
                color: $gray-darker;
            }
            .search-widget {
                width: 100%;
            }
        }
        &.is-open {
            background-color: white;
            .header-top {
                background-color: white;
            }
        }
    }
    section.checkout-step {
        width: 100%;
    }
    .default-input {
        min-width: 100%;
    }
    label {
        clear: both;
    }
    #products .product-miniature,
    .featured-products .product-miniature {
        margin: 0 auto;
    }
    .block-contact {
        padding-left: 0.9375rem;
        border: none;
    }
    .menu,
    .dropdown-item {
        padding-left: 0;
    }
    #footer {
        padding-top: 0.5rem;
    }
}

@include media-breakpoint-down(xs) {
    #left-column, #content-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/**
 * Fruitware styles
 */

/**
 * Containers overload
 */
@media (min-width: 576px) {
    .container {
        width: $sm;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: $md;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: $lg;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: $xl;
        max-width: 100%;
    }
}

.cadouri_flex_row {
    display: flex;
    &.c-fl-full {
        justify-content: space-between;
        align-items: center;
    }
}

/**
 * Common elements
 */

.border-bottom {
    position: relative;

    &:after {
        bottom: -8px;
        color: $lightsteelblue_b7C1D4;
        content: '............................................................................................................................................................................................................';
        font-family: monospace;
        font-size: 18px;
        height: 10px;
        left: 0;
        line-height: 0;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 100%;
    }
}

/**
 * Header
 */
.cadouri_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 136px;
    align-items: center;
    .cadouri_header_left_container {
        h1, a {
            height: 100%;
            display: flex;
            align-items: center;
            img {
                width: 110px;
                height: 110px;
                max-width: none;
            }
        }
        margin-right: 5%;
    }
    .cadouri_header_middle_container {
        min-width: 75%;

        .expand-more, ul.dropdown-menu > li {
            text-transform: uppercase;
            font-size: 14px;
        }
        .lang-flag {
            display: inline-block;
            width: 16px;
            height: 11px;
            background-repeat: no-repeat;
            &.lang-ru {
                background-position: 0 0;
            }
            &.lang-ro {
                background-position: -16px 0;
            }
            &.lang-en {
                background-position: -32px 0;
            }
        }

        .social-block-inline {
            display: inline-block;

            > a {
                display: inline-grid;
                width: 38px;
                height: 37px;
                background: $lightcoral_D07676;
                border-radius: 50%;
                margin: 5px;
                justify-items: center;
                align-items: center;
                grid-template-rows: 100%;
                grid-template-columns: 100%;

                i {
                    color: $white_FFF;
                    line-height: 30px;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 16px;
                }
                .gplus {
                    position: relative;
                    top: -1px;
                }
            }
        }

        .cadouri_header_middle_container_block {
            padding: 15px 0;
        }

        .contact-phone-block {
            font-size: 18px;

            i {
                color: $lightgray_CCC;
            }
        }

        .header-nav {
            max-height: none !important;
            margin-bottom: 0 !important;
            border: 0 !important;
        }
        .header-top {
            padding: 0 !important;
        }


        .ps_search {
            border: 0;
            font-size: 18px;
            color: $text-color-tertiary;
            letter-spacing: 2px;
            background: transparent;
        }

        .search-widget {
            background: transparent;
            @include transition(all 0.3s ease-in-out 0s);
            margin: 15px;
            form {
                position: relative;
                display: block;
                height: 100%;
                @include rtl-padding-left(rem(25px));
                input[type=text]
                {
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    font-variant-caps: normal;
                    font-weight: 300;
                    height: 30px;
                    letter-spacing: 2px;
                    line-height: 30px;
                    background: transparent;
                    outline: none !important;
                }
                button[type=submit]
                {
                    color: $rosybrown;
                }
            }
            .btnsearch {
                position: absolute;
                border: 0;
                top: 0;
                cursor: pointer;
                background-color: transparent;
                padding: 0;
                @include rtl-left(0);
                color: $rosybrown;
                &:hover {
                    color: $text-color-secondary;
                    outline: none;
                }
            }
        }
    }
}