@font-face {
    font-family: 'Nickainley Normal';
    src: url(/themes/cadouri/assets/fonts/nickainley-normal.otf);
}
@font-face {
    font-family: 'Basil Regular';
    src: url(/themes/cadouri/assets/fonts/basil-regular.ttf);
}

@import "/themes/cadouri/assets/fonts/fontello/css/fontello.css"