@font-face {
    font-family: 'Nickainley Normal';
    src: url(/themes/cadouri/assets/fonts/nickainley-normal.otf);
}
@font-face {
    font-family: 'Basil Regular';
    src: url(/themes/cadouri/assets/fonts/basil-regular.ttf);
}

@font-face {
    font-family: 'fontello';
    src: url('/themes/cadouri/assets/fonts/fontello.eot');
    src: url('/themes/cadouri/assets/fonts/fontello.eot#iefix') format('embedded-opentype'),
    url('/themes/cadouri/assets/fonts/fontello.woff2') format('woff2'),
    url('/themes/cadouri/assets/fonts/fontello.woff') format('woff'),
    url('/themes/cadouri/assets/fonts/fontello.ttf') format('truetype'),
    url('/themes/cadouri/assets/fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-geo:before {
    content: '\e802';
}

/* '' */
.icon-search:before {
    content: '\e803';
}

/* '' */
.icon-print:before {
    content: '\e804';
}

/* '' */
.icon-warning:before {
    content: '\e805';
}

/* '' */
.icon-attention:before {
    content: '\e806';
}

/* '' */
.icon-block:before {
    content: '\e807';
}

/* '' */
.icon-edit:before {
    content: '\e808';
}

/* '' */
.icon-pin:before {
    content: '\e809';
}

/* '' */
.icon-plus-circled:before {
    content: '\e80a';
}

/* '' */
.icon-calendar:before {
    content: '\e80b';
}

/* '' */
.icon-receipt:before {
    content: '\e80c';
}

/* '' */
.icon-tag:before {
    content: '\e80d';
}

/* '' */
.icon-return:before {
    content: '\e80e';
}

/* '' */
.icon-exclamation:before {
    content: '\e80f';
}

/* '' */
.icon-menu:before {
    content: '\e810';
}

/* '' */
.icon-viber:before {
    content: '\e81b';
}

/* '' */
.icon-arrowleft:before {
    content: '\ea01';
}

/* '' */
.icon-arrowright:before {
    content: '\ea02';
}

/* '' */
.icon-times:before, .icon-close:before {
    content: '\ea03';
}

/* '' */
.icon-eye:before {
    content: '\ea04';
}

/* '' */
.icon-hand-point:before {
    content: '\ea08';
}

/* '' */
.icon-heart-solid:before {
    content: '\ea09';
}

/* '' */
.icon-heart:before {
    content: '\ea0a';
}

/* '' */
.icon-mail:before {
    content: '\ea0c';
}

/* '' */
.icon-message:before {
    content: '\ea10';
}

/* '' */
.icon-ok:before {
    content: '\ea11';
}

/* '' */
.icon-phone:before {
    content: '\ea15';
}

/* '' */
.icon-quote:before {
    content: '\ea16';
}

/* '' */
.icon-search-plus:before {
    content: '\ea18';
}

/* '' */
.icon-shopping-basket:before {
    content: '\ea1a';
}

/* '' */
.icon-filter:before, .icon-shortarrowleft:before {
    content: '\ea1b';
}

/* '' */
.icon-shortarrowright:before {
    content: '\ea1c';
}

/* '' */
.icon-star-solid:before {
    content: '\ea1d';
}

/* '' */
.icon-star:before {
    content: '\ea1e';
}

/* '' */
.icon-eraser:before, .icon-trash-alt:before {
    content: '\ea20';
}

/* '' */
.icon-update:before {
    content: '\ea21';
}

/* '' */
.icon-user:before {
    content: '\ea22';
}

/* '' */
.icon-schevron-down:before {
    content: '\f004';
}

/* '' */
.icon-schevron-up:before {
    content: '\f005';
}

/* '' */
.icon-twitter:before {
    content: '\f099';
}

/* '' */
.icon-facebook:before {
    content: '\f09a';
}

/* '' */
.icon-pinterest:before, .icon-pinterest-circled:before {
    content: '\f0d2';
}

/* '' */
.icon-gplus:before, .icon-google-plus:before {
    content: '\f0d5';
    margin-left: -2.2px;
}

/* '' */
.icon-linkedin:before {
    content: '\f0e1';
}

/* '' */
.icon-youtube-play:before {
    content: '\f16a';
}

/* '' */
.icon-instagram:before {
    content: '\f16d';
}

/* '' */
.icon-vk:before {
    content: '\f189';
}

/* '' */
.icon-left-circled:before {
    content: '\f190';
}

/* '' */
.icon-pdf:before {
    content: '\f1c1';
}

/* '' */
.icon-telegram:before {
    content: '\f1d8';
    margin-left: -1.5px;
}

/* '' */
.icon-cart-plus:before {
    content: '\f217';
}

/* '' */
.icon-odnoklassniki:before {
    content: '\f263';
}

/* '' */
.icon-user-circle:before {
    content: '\f2be';
}

/* '' */