<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_customtext</name>
    <displayName><![CDATA[Custom text blocks]]></displayName>
    <version><![CDATA[4.1.0]]></version>
    <description><![CDATA[Integrates custom text blocks anywhere in your store front]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>