<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_faviconnotificationbo</name>
    <displayName><![CDATA[Order Notifications on the Favicon]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Get notified when you get new order, new client or new message directly on your browser tab of your back office even if you are working on another page]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>