
.icon-geo:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-print:before { content: '\e804'; } /* '' */
.icon-warning:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-block:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e808'; } /* '' */
.icon-pin:before { content: '\e809'; } /* '' */
.icon-plus-circled:before { content: '\e80a'; } /* '' */
.icon-calendar:before { content: '\e80b'; } /* '' */
.icon-receipt:before { content: '\e80c'; } /* '' */
.icon-tag:before { content: '\e80d'; } /* '' */
.icon-return:before { content: '\e80e'; } /* '' */
.icon-exclamation:before { content: '\e80f'; } /* '' */
.icon-menu:before { content: '\e810'; } /* '' */
.icon-viber:before { content: '\e81b'; } /* '' */
.icon-arrowleft:before { content: '\ea01'; } /* '' */
.icon-arrowright:before { content: '\ea02'; } /* '' */
.icon-close:before { content: '\ea03'; } /* '' */
.icon-eye:before { content: '\ea04'; } /* '' */
.icon-hand-point:before { content: '\ea08'; } /* '' */
.icon-heart-solid:before { content: '\ea09'; } /* '' */
.icon-heart:before { content: '\ea0a'; } /* '' */
.icon-mail:before { content: '\ea0c'; } /* '' */
.icon-message:before { content: '\ea10'; } /* '' */
.icon-ok:before { content: '\ea11'; } /* '' */
.icon-phone:before { content: '\ea15'; } /* '' */
.icon-quote:before { content: '\ea16'; } /* '' */
.icon-search-plus:before { content: '\ea18'; } /* '' */
.icon-shopping-basket:before { content: '\ea1a'; } /* '' */
.icon-shortarrowleft:before { content: '\ea1b'; } /* '' */
.icon-shortarrowright:before { content: '\ea1c'; } /* '' */
.icon-star-solid:before { content: '\ea1d'; } /* '' */
.icon-star:before { content: '\ea1e'; } /* '' */
.icon-trash-alt:before { content: '\ea20'; } /* '' */
.icon-update:before { content: '\ea21'; } /* '' */
.icon-user:before { content: '\ea22'; } /* '' */
.icon-schevron-down:before { content: '\f004'; } /* '' */
.icon-schevron-up:before { content: '\f005'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-left-circled:before { content: '\f190'; } /* '' */
.icon-pdf:before { content: '\f1c1'; } /* '' */
.icon-telegram:before { content: '\f1d8'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-user-circle:before { content: '\f2be'; } /* '' */